body {
  font-family: Sans-Serif;
}

.timer {
 background-color:#419D78;
 color:#EFD0CA;
 font-size:20px;
 text-align:center;
}

.button {
  background-color: #0080FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor:pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #1034A6;
}

.btn:focus {
      outline: none;
}

.endButton {
  background-color: #8B0000;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 2px 2px;
  border-radius: 60px;
  cursor:pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.endButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

restartButton {
  margin-top: 20px;
  background-color: #0080FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 12px;
  cursor:pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

restartButton:hover{
  background-color: #1034A6;
}

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

#results {
  padding-bottom: 50px;
}


#endTask {

}
/* Style startpage */

.startpage {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.question {
  font-size: 50px;
  text-align: center;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ---------------------------
     Footer settings
-------------------------- */

.footer-distributed{
	background-color: #080F33; /*#23316F;*/
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 18px Roboto, sans-serif;
	padding: 10px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font: normal 10px Roboto, sans-serif;
	margin: 0;


}

/* Footer links */

.footer-distributed p.footer-links{
	font: bold 16px Roboto, sans-serif;
	color:  #ffffff;
	margin: 0 0 5px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: none; /*#33383b;*/
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
