body {
			font-family: Verdana, Geneva, sans-serif;
			margin: 0px;
		}

h1 {
	text-align: center;
}

@font-face { font-family: indieflower-regular;
			 src: url('IndieFlower-Regular.ttf') format('truetype'); }

@font-face { font-family: gloria-regular;
			src: url('GloriaHallelujah-Regular.ttf') format('truetype'); }

#box {
				width: 200px;
				height: 200px;
				background-color: blue;
				display: none;
				position: relative;
		}

#TMT_Instructions {
	margin-top:5px;
	display: block;
}

#TMTstartBtn {
	text-align:center;
	margin-top: 50px;
	margin: auto;
	width: 300px;
	height: 100px;
}

#TrailMakingTest {
	display: block;
}

#timerDisplayTMT {
	font-size: 12px;
	display:inline;
	width: 100px;
	text-align:center;
	margin: auto;
}

#scoreP {
	padding:0px;
	margin-top:0px;
	margin-right:0px;
}

#pointCounterTMT {
	font-size: 12px;
	display:inline;
	float:right;
	width: 100px;
	text-align:top;
	margin: auto;
}

#p_TMT {
	width: 200px;
	font-size: 15px;
	line-height: 30px;
	height:30px;
	background-color: pink;
	float:right;
	text-align:left;
	display:inline;
	margin:0px;
}

.p_instructions {
	width: 700px;
	text-align: justify;
	font-size: 16px;
	margin: auto;
	margin-bottom: 25px;
}

.timerWrapper {
	width: 100%;
	background-color: white;
	text-align: center;
	height: 18px;
	overflow: hidden;
	clear:both;
}


#timeWrap {
position: absolute;
display: grid;
grid-gap: 5px 5px;
grid-template-columns: auto auto auto;
text-align: justify;
margin-left: auto;
margin-right: auto;
margin-bottom: 5px;
left: 0;
right: 0;
-ms-text-justify: distribute-all-lines;
text-justify: distribute-all-lines;
width: 100%;
max-width: 600px;
top: 60px;
}

.timeWrapInfo {
	font-size: 12px;
	line-height: 20px;
	height:20px;
	text-align: center;
}




#tmt_gridDiv {
	display: none;
	width: 100%;
	margin:auto;
	justify-content: center;
	align-content: center;
	/*background-color: #B5B5B5; /*dark grey*/
	padding: 0px;

}

#gridLayer {
	display: grid;
  grid-template-columns: repeat(16, 25px);
  grid-template-rows: repeat(8, 25px);
  grid-gap: 25px;
	padding: 20px;
	border-radius:12px;
	border: 1px solid grey;
	background-color:white; /* #DBF3FA; lightblue*/

	text-align: justify;
/*	margin-left: 100px;
	margin-right: 100px;*/
	margin:auto;
	width: 780px;
	/* max-width: 600px; */
	top: 20px;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;

}

.boxBtn {
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	color: black;
	background-color: #d3d3d3 ;
	width: 200px;
	border: 1px gray;
	border-style:outset;
  border-radius: 12px;
}
/*this removes focus outlines on the buttons */
*:focus:not(.focus-visible) {
  outline: none;
}

.boxBtn:hover {
	background-color: #a9a9a9;
	cursor: pointer;
}

/* .boxBtn:focus {
	border: none;
	background-color: #a9a9a9;
	border-radius: 50%;
} */

#transitionPage {
	display: none;
}

#t_pageDiv {
	text-align:center;
	font-size: 18px;
	margin:auto;
	width: 700px;
}

#startButton {
	font-size: 20px;
	background-color: blue;
	color: white;
	border-radius: 12px;
	padding: 14px 40px;
	margin-top: 50px;
}

#startButton:hover {
	background-color: #00008B;
	cursor: pointer;
}

#mathTest {
	display: none;
}

#pointCounterMath {
	font-size: 12px;
	display:inline;
	float:right;
	width: 100px;
	text-align:top;
	margin: auto;
}

#scorePMath {
	padding:0px;
	margin-top:0px;
	margin-right:20px;
	text-align: center;
}

#p_Math {
	width: 200px;
	font-size: 15px;
	background-color: pink;
	float:right;
	text-align:left;
}

#timerDisplaySmall{
	font-size: 12px;
	display:inline;
	width: 100px;
	text-align:center;
	margin: auto;
	float:left;
}

#timerDisplayMath {
	font-size: 12px;
	display:inline;
	width: 100px;
	text-align:center;
	margin: auto;
}

.grid-container {
  display: grid;
	width: 800px;
	margin: auto;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  background-color: white; /*#DBF3FA; lightblue */
	border-radius:12px;
	border: 1px solid grey;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;

}


/* #mathQuestion {
	display: none;
} */

#mathFeedbackFaster {
	display: none;
	font-size: 20px;
	text-align:center;
	line-height: 300px;
	position:fixed;
	background-color: white;
	width: 100%;
	height:100%;
	top:50px;
	left:0px;
	z-index:1000;
}

#mathFeedbackCorrect {
	display: none;
	font-size: 20px;
	text-align:center;
	line-height: 300px;
	position:fixed;
	background-color: white;
	width: 100%;
	height:100%;
	top:50px;
	left:0px;
	z-index:1000;
}

#mathFeedbackWrong {
	display: none;
	font-size: 20px;
	text-align:center;
	line-height: 300px;
	position:fixed;
	background-color: white;
	width: 100%;
	height:100%;
	top:50px;
	left:0px;
	z-index:1000;
}


#endPage {
	display:none;
}

#feedbackScreen {
	display:none;
	font-size: 20px;
	text-align:center;
	line-height: 300px;
	position:fixed;
	background-color: white;
	width: 100%;
	height:100%;
	top:50px;
	left:0px;
	z-index:1000;
}

#nextTMT {
	display:none;
	font-size: 20px;
	text-align:center;
	line-height: 300px;
	position:fixed;
	background-color: white;
	width: 100%;
	height:100%;
	top:50px;
	left:0px;
	z-index:1000;
}


/* .checkButton {
	text-align: center;
	font-size: 10px;
	width: 25px;
  height: 25px;
} */

.btn {
	text-align: center;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	width: 25px;
  height: 25px;
  padding: 5px 5px;
	line-height: 25px;
	color: black;
	background-color: #F5F5F5 ;
  border: 1px #D3D3D3;
	border-style:outset;
  border-radius: 50%;
}

.btn:hover {
    background-color: #a9a9a9;
}


/* .btn:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    -moz-outline-radius: 5px;
    background-image: linear-gradient(to top, #f4f5f5, #dfdddd);
} */

:checked ~ *.btn {
    background-color: #686868;
}


#endDiv {
	text-align:center;
	font-size: 18px;
	margin:auto;
	width: 700px;
}

#outputData {
	font-size: 20px;
	background-color: blue;
	color: white;
	border-radius: 12px;
	padding: 14px 40px;
	margin-top: 50px;
}

#outputData:hover {
	background-color: #00008B;
	cursor: pointer;
}


#DEstartButton {
	font-size: 20px;
	background-color: blue;
	color: white;
	border-radius: 12px;
	padding: 14px 40px;
	margin-top: 50px;
}

#DEstartButton:hover {
	background-color: #00008B;
	cursor: pointer;
}


#DE_entry {
	display:none;
	position: absolute;
	top: 125px;
	width: 100%;
	margin:auto;
	justify-content: center;
	align-content: center;
}


.DE-container {
	margin:auto;
  display: grid;
	width: 700px;
	margin: auto;
  grid-template-columns: 125px 1fr 5px 125px 1fr;
	grid-template-rows: repeat(6, 50px);
  grid-gap: 20px;
  background-color: white; /*#DBF3FA; lightblue */
	border-radius:12px;
	border: 1px solid grey;
  padding: 10px;
}

.DEitems{
	justify-self: center;
	align-self: center;
}

.DEitemsLabel{
	text-align:right;
	align-self: center;
}

.DEitemsData{
	text-align:left;
	align-self: center;
	font-family: indieflower-regular;
	font-size: 1.75em;
}

.DEitemsData2{
	text-align:left;
	align-self: center;
	font-family: gloria-regular;
	font-size: 1.75em;
}


#item1 {
	grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

#item2 {
	grid-column: 3 / span 1;
  grid-row: 1 / span 6;
	background-color: black;
}

#item3{
	grid-column: 4 / span 2;
	grid-row: 1 / span 2;
}

#item18 {
	grid-column: 4 / span 2;
  grid-row: 6 / 7;

}

#homeContainer {
  width: 50px;
  display: block;
	position: absolute;
	bottom:2%;
	left: 48%;

}
